html {
  height: -webkit-fill-available;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  /* Шрифт для всей страницы */
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  line-height: 1.4;
  /* Сглаживание шрифтов */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  /* Цветовая схема */
  --surface: #1b1e26;
  --on-surface: #fff;
  --zone: #2f323a;
  --zone-title: #65686e;
  --primary: #f66f38;
  /* Цвета страницы */
  background-color: var(--surface);
  color: var(--on-surface);
}
